<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Payment Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Payment Details</h2>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Payment ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Uploaded File</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${transactionID}"></td>
                    <td th:text="${name}"></td>
                    <td th:text="${email}"></td>
                    <td th:text="${date}"></td>
                    <!-- Display image as a link or image -->
                    <td>
                        <a th:href="@{/getImage/{transactionID}(transactionID=${transactionID})}" target="_blank">
                            View Uploaded Image
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p><strong>Message: </strong> We have sent you an email with the details you uploaded. Please check. If there are any differences, please reach out to us. Thank you!</p>

        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
</body>
</html>
